<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signInFailure</title>
  <style>
    .head {
      text-align: center;
      color: #ffffff;
      background-color: #1F2839;
      font-size: 30px;
      font-weight: bold;
      padding: 10px 0px;
    }

    .details {
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 150%;
    }

    .button {
      margin: 5px
    }
  </style>
</head>

<body>
  <div class="details">
    <div class="head">失敗頁面</div>
    <h3> {{ reason }}</h3>
    <a href="/">返回首頁</a>
    </div>

</body>

</html>